*{
    font-family: 'CascadiaMono';
    font-size:13px;
    background-color:transparent;
}

.main-container {
    margin-top:  7px;
    padding:1px 10px 1px 10px;
    background-color: rgba(7, 9, 15, 0.77);
    border-radius: 80px;
}

/* TAB with all workspaces */
.workspaces {
    background-color: transparent;
    padding: 5px;
}

.workspaces button {
    padding: 2px;
    background-color:transparent;
    border:1px;
}

.workspaces button:hover {
    background-color: #e24e63;
}

.layout {
    margin-left:2em;
}

.default-workspace {
    background-color: rgba(7, 9, 15, 1);
    border-radius:3px;
}

.occupied {
    background-color: #990033;
    color:#ffffff;
}

.first{
	background-color: pink;
    color: #000000;
}
.second{
	background-color: #fa8072;
    color: #000000;
}
.third{
	background-color: #dddddd;
    color: #000000;
}
.fourth{
	background-color: #ffa07a;
    color: #990033;
}

.icons{
    all: unset;
    margin-right: 4px;
}

.metric slider {
    all: unset;
    color: #ffd5cd;
}

.metric scale trough highlight {
    all: unset;
    background-color: #990033;
    color: #000000;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 4px;
    min-width: 50px;
}

.Not {
    color: #ffffff;
}

.Charging {
    color: #04aa6d;
}

.Discharging {
    color: #ffa07a;
}

.battery button {
    margin-right:12px;
}
