*{
  background-color: transparent;
  border-radius: 0px;
  border:none;
}

window {
  font-family: "FiraCodeNerdFont";
  border: 3px solid rgba(153,0,51,.4);
  background-color: rgba(7, 9, 15, 0.70);
  border-radius: 10px;
}

#input {
  margin: 5px;
  color: #f8f8f2;
  background-color: rgba(30, 40, 50, 0.95);
}

#inner-box {
  margin: 5px;
}

#outer-box {
  margin: 5px;
}

#scroll {
  margin: 0px;
}

#text {
  margin: 6px;
  color: #c5c8c6;
}

#entry:selected {
  background-color:rgba(153,0,51,.6);

}

#selected {
  background-color:rgba(153,0,51,0.4);
}
